/************** A.通用设置 ***********/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

li {
  list-style: none;
}

input,
textarea {
  outline: none;
  resize: none;
  color: #9E9EA0;
}

a {
  color: #348fe4;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5715;
  // background-color: #f5f6fa;
  background-color: #fafafa;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: PingFangSC-Regular;
  color: #333;
  font-size: .875rem;
  font-weight: 400;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 15px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 15px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

/*显示省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


::-webkit-input-placeholder {
  font-size: 10px;
  color: #9E9EA0;
  /* 使用webkit内核的浏览器 */
}

:-moz-placeholder {
  font-size: 10px;
  color: #9E9EA0;
}

/* Firefox版本4-18 */
::-moz-placeholder {
  font-size: 10px;
  color: #9E9EA0;
}

/* Firefox版本19+ */
:-ms-input-placeholder {
  font-size: 10px;
  color: #9E9EA0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px !important;

}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 12px !important;

}

:-moz-placeholder {
  font-size: 12px !important;

}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 128px;
  height: 128px;
  line-height: 128px;
  text-align: center;
}


.el-tag+.el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

/*********************  B.登录页样式begin **********************/
.charm-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 780px;
  height: calc(100% - 40px);
}

.charm-body {
  padding: 40px 0;
  width: 1000px;
  min-height: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 30px #5f6f7c17;
  box-sizing: border-box;
}

.charm-body .charm-body-info {
  display: flex;
  width: 500px;
  padding: 0 42px;
  flex: 1;
  flex-direction: column;
  border-right: 1px solid #eee;
}

.charm-body .charm-body-info .info-logo {
  height: 40px;
}

.charm-body .charm-body-info .info-image {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.charm-body .charm-body-content {
  width: 500px;
  padding: 0 42px;
}

.charm-body .charm-body-footer {
  width: 100%;
  position: absolute;
  bottom: -60px;
  color: #aaa;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.charm-body .charm-body-info .info-logo img {
  height: 100%;
}

.charm-body .charm-body-info .info-image img {
  width: 375px;
}

.charm-body .charm-body-info .info-message .message-item {
  display: flex;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  color: #aaa;
}

.charm-body .charm-body-info .info-message .message-item .icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  margin-right: 16px;
}

/* 表单 */
.charm-body .charm-body-content .charm-body-content-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.charm-form-container .form-container-header {
  position: relative;
  box-sizing: border-box;
}

.charm-form-container .form-container-header .form-container-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charm-form-container .form-container-header .form-container-header-description {
  color: #999;
}

.charm-form-container .form-container-body {
  font-size: 14px;
  padding-top: 40px;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charm-form-container .form-container-header .form-container-header-title>span {
  font-size: 28px;
  color: #333;
  line-height: 38px;
  margin-bottom: 8px;
}

.login-captcha {
  height: 38px;
  display: block;
  margin: 0px -20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/*********************  登录页样式end **********************/

/*********************  C.主页容器布局 **********************/
.sq-container {
  height: 100%;
  width: 100%;
  /*元素的高/宽度计算方式*/
  box-sizing: border-box;
  /*去掉纵向滚动条*/
  overflow-y: hidden;
}


/*********************  D.侧边栏样式begin **********************/
.sq-container .asideShow {
  width: 210px !important;
  height: 100vh;
  // background-color: #001529;
  background-color: #343131;
}

.sq-container .asideHidden {
  width: 64px !important;
  // background-color: #001529;
  background-color: #343131;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* 48是Logo的高度*/
.sq-container .asideMenuShow {
  width: 210px !important;
  height: calc(100vh - 48px);
}

.sq-container .asideMenuHidden {
  width: 64px !important;
  height: calc(100vh - 48px);
}

.sq-container .titleShow {
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s;
  line-height: normal;
  color: #fff;
  margin: auto;
  /*不溢出，溢出隐藏*/
  overflow: hidden;
  text-overflow: ellipsis;
  /*不换行*/
  white-space: nowrap;
}

.sq-container .titleHidden {
  /*元素不显示*/
  display: none;
}

.sq-container .logo {
  width: 100%;
  height: 48px;
  display: flex;
  position: relative;
  // background-color: #001529;
  background-color: #343131;
  /*字体抗锯齿 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sq-container .logo img {
  width: 32px;
  height: 32px;
  padding: 10px 8px 10px 10px;
}


.el-menu-vertical {
  // background-color: #001529;
  background-color: #343131;
}

.el-menu-item.is-active {
  color: #fff !important;
  // background-color: #1890ff !important;
  background-color: #FF5C93 !important;
}

/*********************  侧边栏样式end **********************/


/*********************  E.顶栏begin **********************/
.sq-container .sq-header {
  padding: 0px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  margin-left: -1px;
  align-items: center;
  justify-content: space-between;
}


.sq-header-switch {
  display: flex;
  height: 100%;
  padding: 1px 10px 0;
  cursor: pointer;
  align-items: center;
}

.sq-layout-header-left {
  display: flex;
  height: 100%;
  align-items: center;
}

.sq-layout-header-right {
  display: flex;
  min-width: 120px;
  align-items: center;
}

// add at 2022-11-3 顶栏左右两端对齐
.el-container .el-header {
  display: flex;
  justify-content: space-between;
}

.sq-header-user-dropdown__header {
  border-radius: 50%;
}

.sq-header-user-dropdown {
  height: 48px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
}

.sq-header-user-dropdown img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.flex {
  display: flex;
}

.sq-header-user-dropdown--light:hover {
  background-color: #f6f6f6;
}

.sq-header-user-dropdown__name {
  color: #000000d9;
  font-size: 14px;
}

.sq-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 去掉顶部的边框线*/
.el-menu--horizontal {
  border-bottom: solid 0px;
}

.sq-layout-header-action__item {
  display: flex !important;
  height: 48px;
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
  align-items: center;
}

.sq-layout-header-action__item:hover {
  background-color: #f6f6f6 !important;
}

/*********************  顶栏end **********************/

/*********************  F.内容区begin **********************/
.sq-container .mainOuter {
  width: 100%;
  height: calc(100vh - 48px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.sq-container .sq-main {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  overflow: auto;
  width: 100%;
  padding: 5px 10px 0px;
}

/*********************  内容区end **********************/


/********************* G.多Tab页相关-begin **********************/
/* Tabs 激活状态下的样式 */
.mutitabs .el-tabs__nav .el-tabs__item.is-active {
  // color: #1890ff !important;
  color: #FF5C93 !important;
  background-color: #fff;
  border-bottom-color: #fff;
  box-shadow: 0 0 10px #cccccc;
  // border-bottom: 1px solid #1890ff !important;
  border-bottom: 1px solid #FF5C93 !important;
  font-weight: inherit;
  border: 1px solid transparent;
}

/* 减少Tabs底部高度 */
.mutitabs .el-tabs__header {
  margin: 0 0 8px;
}

/* Tabs 背景颜色 */
.mutitabs .el-tabs__nav {
  background-color: white;
  border: none;
}

/* Tabs 调整字体大小/颜色/高度/左右间距 */
.mutitabs .el-tabs__item {
  font-size: 13px;
  color: #808695;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

/* Tabs左右箭头 */
.mutitabs .el-tabs__nav-next,
.el-tabs__nav-prev {
  line-height: 35px;
  font-size: 17px;
}

/* 右键菜单样式 */
.contextmenu {
  width: 110px;
  margin: 0;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 3000;
  position: absolute;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.contextmenu li {
  margin: 0;
  padding: 7px 16px;
}

.contextmenu li:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.menuIcon {
  margin-right: 8px;
}

/*********************  H.Web接口菜单begin **********************/
.sq-container-api {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.sq-container-api .asideshow {
  width: 210px !important;
  height: 100vh;
  background-color: #fdfdfd;
  margin: 0px;
  border-right: 0px solid #eeeeee;
}

.sq-container-api .project {
  height: 38px;
  background-color: #f4f4f5;
}

.sq-container-api .showMenu {
  width: 210px !important;
  height: calc(100vh - 48px);
}

/*********************  Web接口菜单end **********************/

/*********************  I. 角色授权**********************/

.permission_drawer .el-drawer__header {
  padding: 16px 14px;
  margin-bottom: 0px !important;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.permission_drawer .el-drawer__footer {
  border-top: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.permission_drawer .title {
  padding: 0px 6px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
  color: #000000d9;
  user-select: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

// 树的倒三角图标不能显示透明
.permission_drawer .el-tree-node__expand-icon.expanded {
  transform: rotate(90deg);
}

// 菜单树排版
.permission_tree_node {
  .menu-data {
    display: flex;
    margin: 10px 0;
  }
}

/*********************  角色授权end **********************/


/*********************  J. 图表分析begin ******************/
.analcontainer {
  width: 100%;
  height: calc(100vh - 130px); //动态计算长度值
  /*overflow-x: hidden;*/
  /*overflow-y:auto;*/
}

.analcard {
  background: var(--el-bg-color);
  box-shadow: var(--el-box-shadow-light);
  border: 1px solid var(--el-border-color-light);
}

.analcard {
  background: var(--el-bg-color);
  box-shadow: var(--el-box-shadow-light);
  border: 1px solid var(--el-border-color-light);
}

.analcard-space-header {
  border-bottom: 1px solid var(--el-color-info-light-7);
  font-size: 14px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analcard-space-header-title {
  padding: 8px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.analcard-space-header-extend-right {
  padding: 8px 0;
  margin-right: 10px;
}

.analcard-space-main {
  padding: 20px;
}

.analcard-space-main-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.analcard-space-main-down {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/*********************  图表分析end **********************/


/*********************  GroupCard2组件样式begin **********************/

.gc2-panel-group {
  margin-top: 10px;

  /*
  .gc2-card-panel-col {
    margin-bottom: 20px;
  }
 */
  .gc2-card-panel {
    height: 108px;
    // cursor: pointer;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);

    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }

    .card-panel-icon {
      float: left;
      font-size: 48px;
    }

    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;

      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .card-panel-num {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 550px) {
  .card-panel-description {
    display: none;
  }

  .card-panel-icon-wrapper {
    float: none !important;
    width: 100%;
    height: 100%;
    margin: 0 !important;

    .svg-icon {
      display: block;
      margin: 14px auto !important;
      float: none !important;
    }
  }
}

/*********************  GroupCard2组件样式end **********************/


/*********************  Z.其他 **********************/
.submenu.el-menu--horizontal>.el-sub-menu .el-sub-menu__title {
  text-align: center;
}

.el-radio {
  margin-right: 10px !important;
}

.el-select .el-input .el-input__inner {
  padding-right: 25px;
  border-radius: 3px;
  width: 100px;
}

.el-pagination {
  margin: 6px auto;
  float: right;
}

/* 查询条件 */
.tableSelect {
  background: #ffffff;
  padding: 20px 10px;
  box-shadow: 0 0 5px #cccccc;
  margin-bottom: 10px;

  .el-form {
    display: flex;
  }

  .el-form-item {
    margin: 5px !important;
  }
}

/* 表格操作区按钮 */
.table-operate-btn {
  color: #409eff;
  cursor: pointer;
  margin-right: 10px;
  font-size: 13px;

  &.color99 {
    color: #999999;
    cursor: default;
  }
}

/* 弹窗 */
.el-dialog-footer {
  text-align: center;
}




/*********************  信息 **********************/
/*
左侧菜单宽度：210px
左侧菜单背景颜色：#001529  改
左侧菜单字体颜色：#ffffffb3
左侧菜单激活文本色吗？：#247af3
左侧菜单激活背景颜色：#1890ff!important  改
左侧菜单激活字体颜色：#fff!important
*/